<% flash.each do | name, msg |%>
  <div class="alert alert-<%= select_class_alert(name)%>">
    <button class="close" aria-hidden="true" data-dismiss="alert" type="button"/>×</button>
    <%= content_tag(:div, msg, id: "flash_#{name}") %>
  </div>
<% end %>
